@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("../images/chemistry-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: auto;
}

html, body, #root{
    height: 100vh;

  }


#root {
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 auto;
}

.component-wrapper {
    margin-top: 7rem;
}

.banner-bg {
    background-color: rgba(248, 249, 250, 0.8);
}

.banner-title {
    font-weight: 700;
    
}

@keyframes icon-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.rotating-icon {
    animation: icon-rotation 1s infinite linear;
}

.pagination > li > button
{
    background-color: white;
    color: #212529;
}

.pagination > li > button:focus,
.pagination > li > button:hover,
.pagination > li > button:focus,
.pagination > li > button:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > button
{
    color: white;
    background-color: #4DB6AC !Important;
    border: solid 1px #4DB6AC !Important;
}

.pagination > .active > button:hover
{
    background-color: #28A745 !Important;
    border: solid 1px #28A745;
}

.table > tbody > tr:hover {
    cursor: pointer;
}

.btn .btn-success button{
    background-color: black;
}

.pointer-cursor {
    cursor: pointer;
}

