@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body, #root{
    height: 100vh;

  }


#root {
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 auto;
}

footer{

}

