/* body + footer{
  background-color: white;
} */

.periodic-table-bg{
  background-color: rgba(248, 249, 250, 0.8);
}
.periodic:after {
    clear: both;
    content: "";
    display: table;
  }
  .cell_empty:hover {
    box-shadow: none;
    transform: none;
  }
  
  .type-1 {
    background: #ffc78e;
  }
  
  .type-2 {
    background:rgb(255, 224, 141);
  }
  
  .type-3 {
    background: #fffa8a;
  }
  
  .type-4 {
    background: #ecff8b ;
  }
  
  .type-5 {
    background: #b6ff8a ;
  }
  
  .type-6 {
    background: #8fff9b;
  }
  
  .type-7 {
    background: #8cff9a;
  }
  
  .type-8 {
    background: #ab8fff;
  }
  
  .type-9 {
    background:#fb8dff ;
  }
  .type-10 {
    background: #8edeff;
  }
  .type-11 {
    background:#c8c8c8 ;
  }

  
  .legend {
    position: absolute;
    top: 3%;
    left: 34%;
    padding: 0px;
    font-size: 13px;
  }
  
  .legend:after {
    content: "";
    display: table;
    clear: table;
  }
  li{
     list-style: none;
  }
  .legend ul {
    float: left;
  }
  
  .legend .list-2 {
    margin-left: 10px;
    width: 200px;
  }
  .legend .list-3 {
    margin-left: 0px;
    width: 200px;
    padding-left: 0;
  }
  
  .legend .list-1 li {
    margin: 7px 0;
  }
  
  .legend .list-1 li:first-of-type {
    margin-top: 2px;
  }
  
  .legend .list-1 span {
    border: 1px solid black;
    display: inline-block;
    padding: 3px;
    width: 20px;
    text-align: center;
    height: 20px;
    margin-right: 5px;
  }
  
  .legend .list-2 li {
    margin: 2px;
    padding: 3px;
    float: left;
    width: 70%;
    cursor: pointer;
  }
  .legend .list-3 li {
    margin: 2px;
    padding: 3px;
    float: left;
    width: 70%;
    cursor: pointer;
  }
  /* body {
    font-family: Arial;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    padding: 1%;
  } */
  .periodic {
    position: relative;
    height: 200px;
    margin-right: -1px;
    text-shadow: none;
    width: 100%;
  }
  .periodic-row {
    clear: both;
    height: 10%;
  }
  .cell, .cell_empty {
    float: left;
    position: relative;
    width: 5.55%;
    height: 100%;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;      
    -khtml-user-select: none;   
    -moz-user-select: none;   
    -ms-user-select: none;  
    user-select: none;
  }
  .cell1 {
      float: left;
      position: relative;
      width: 150%;
      height: 150%;
      zoom: 150%;
  }
  .cell2 {
      float: left;
      position: relative;
      width: 330%;
      height: 150%;
      zoom: 150%;
  }
  .element {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 1px;
    right: 1px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    cursor: default;
    pointer-events: none;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    background-color: rgba(0, 128, 128, 0.6);
  }
  .element1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 1px;
    right: 1px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    cursor: default;
    pointer-events: none;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    background-color: rgba(0, 128, 128, 0.6);
  }
  .cell:hover{
    cursor: pointer;
  }
  .cell:hover .element {
    border-color: rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    z-index: 1;
    /* background-color: rgba(0, 128, 128, 0.9); */
  }
  .at_num,
  .at_details, 
  .masa,
  .ener,
  .elec,
  .estad {
    position: absolute;
    font-size: 14px;
    color: #000;
    opacity: 0;
  }
  .at_num {
    top: 4px;
    right: 5px;
  }
  .masa {
     top: 4px;
     left: 5px;
  }
  .ener{
     top: 13px;
     left: 5px;
  }
  .elec{
    top: 13px;
    right: 12px;
  }
  .estad { 
   align-self: flex-end;
    top: 20px;
    right: 5px;
  }
  .estad li {
   list-style: none; 
  }
  .symbol {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    margin-top: -4px;
    font-size: 9px;
    line-height: 1;
    height: 9px;
    color: #000;
  }
  .at_details {
    bottom: 4px;
    top: 73%;
    left: 0px;
    right: 0px;
  }
  /* .cell:nth-child(-n+2) .element{
    background-color: rgba(0, 128, 128, 0.6);
  }
  .cell:nth-child(-n+2):hover .element {
    background-color: rgba(0, 128, 128, 0.6);
  } */
  .gas-noble .element {
    background-color: #8edeff;
  }
  .gas-noble:hover .element {
    background-color: #8edeff;
  }
  .metal-alcalino .element {
    background-color: #ffc78e;;
  }
  .metal-alcalino:hover .element {
    background-color: #ffc78e;;
  }
  .no-metal-diatomico .element {
    background-color: #ab8fff;
  }
  .no-metal-diatomico:hover .element {
    background-color: #ab8fff;
  }
  .metal-de-transicion .element {
    background-color: #dffb51;;
  }
  .metal-de-transicion:hover .element  {
    background-color:#dffb51;;
  }
  .metaloide .element {
    background-color: #8fff9b;
  }
  .metaloide:hover .element {
    background-color: #8fff9b;
  }
  .no-metal-poliatomico .element{
      background-color: #ab8fff;
  }
  .no-metal-poliatomico:hover .element{
      background-color: #ab8fff;
  }
  .metal-post-transicion .element{
      background-color:#fffa8a;
  }
  .metal-post-transicion:hover .element{
      background-color:#fffa8a;
  }
  .lantanido .element{
      background-color:#ff000094;
  }
  .lantanido:hover .element{
      background-color:#ff000094;
  }
  .actinido .element{
      background-color:#ff9d00;
  }
  .actinido:hover .element{
      background-color:#ff9d00;
  }
  .gray .element{
    background-color: gray;
  }
  .cell:nth-child(1) .element {
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
  .cell:nth-child(18) .element {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  .periodic-row:nth-child(10) .cell .element {
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  .periodic-row:nth-child(1) .cell:nth-child(1) .element {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  .periodic-row:nth-child(1) .cell:nth-child(18) .element {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  .periodic-row:nth-child(10) .cell:nth-child(18) .element {
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  @media (min-width: 600px) {
    .cell2 {
      float: left;
      position: relative;
      width: 460%;
      height: 150%;
  }
    .periodic {
      height: 460px;
      margin-right: -2px;
    }
    .element {
      right: 2px;
      bottom: 2px;
    }
    .at_details, .ener,.elec{
      font-size: 5px;
      opacity: 1;
      font-weight: bold;
    }
    .estad {
      top: 12px;
      font-size: 2.5px;
      opacity: 1;
  }
  .ener{
     top: 13px;
     left: 5px;
  }
  .elec{
    top: 13px;
    right: 12px;
  }
    .masa{
      font-size: 5px;
      opacity: 1;
     }
     .at_num, .at_num1{
       font-size: 6px;
      opacity: 1;
      font-weight: bold;

     }
    .symbol {
      margin-top: -13px;
      font-size: 14px;
      font-weight: bold;
      line-height: 30px;
      height: 30px;
      color: #000;
      text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    }
    .legend {
      position: absolute;
      top: 1%;
      left: 34%;
      padding: 0px;
      font-size: 8px;
      width: 230px;
  }
  .legend .list-2 {
      margin-left: 10px;
      width: 106px;
      padding-left: 0px;
  }
  .legend .list-3 {
      margin-left: 0px;
      width: 107px;
      padding-left: 0;
  }
  }
  @media (min-width: 800px) {
    .periodic {
      height: 540px;
    }
    .symbol {
      font-size: 18px;
    }
  }
  @media (min-width: 992px) {
    .periodic {
      height: 680px;
    }
    .at_details, .ener, .elec, .estad {
      font-size: 10px;
    }
    .estad {
      top: 20px;
      opacity: 1;
  }
    .masa{
      font-size: 6px;
    }
    .at_num, .at_num1{
       font-size: 7px;
     }
    .symbol {
      font-size: 20px;
    }
  }
  @media (min-width: 1200px) {
    .periodic {
      height: 800px;
    }
    .at_details, .ener, .elec, .estad {
      font-size: 10px;
    }
    .masa{
      font-size: 7px;
    }
    .at_num, .at_num1{
       font-size: 10px;
     }
    .symbol {
      font-size: 30px;
    }
  .legend {
      position: absolute;
      top: 3%;
      left: 36%;
      padding: 0px;
      font-size: 13px;
          width: 470px;
  }
  
  .legend:after {
    content: "";
    display: table;
    clear: table;
  }
  li{
     list-style: none;
  }
  .legend ul {
    float: left;
  }
  
  .legend .list-2 {
    margin-left: 10px;
    width: 200px;
  }
  .legend .list-3 {
    margin-left: 0px;
    width: 200px;
    padding-left: 0;
  }
  
  .legend .list-1 li {
    margin: 7px 0;
  }
  
  .legend .list-1 li:first-of-type {
    margin-top: 2px;
  }
  
  .legend .list-1 span {
    border: 1px solid black;
    display: inline-block;
    padding: 3px;
    width: 20px;
    text-align: center;
    height: 20px;
    margin-right: 5px;
  }
  
  .legend .list-2 li {
    margin: 2px;
    padding: 3px;
    float: left;
    width: 70%;
    cursor: pointer;
  }
  .legend .list-3 li {
    margin: 2px;
    padding: 3px;
    float: left;
    width: 70%;
    cursor: pointer;
  }
  }

  .element{
      border-radius: 10px;
  }

  .modalBG{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 5;
    display: flex;
    align-items: left;
    /* CODE TEST */
    overflow-y:scroll;
    animation-duration: 1s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .modalDetail{
    /* padding-left: 20px; */
    background: #fff;
    width: 500px;
    height: 700px;
    margin: auto;
    text-align: left;
}

.pt-det-group-label{
  display: flex;
  /* margin-top: 20px; */
}

.pt-det-element-info-box{
  padding-top: 10px;
  background: #1c1f26;
  padding: 14px 15px;
  border-bottom: 1px solid hsla(0,0%,44.7%,.35);
}

.label-data{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  opacity: .5;
}

.pt-det-element-info-value{
  color: white;
}

.pt-det-group-label{
  padding: 14px 15px;
  background: #333;
  color: white;
}

.pt-det-group-name{
  padding-left: 5px;
}

.el_overview{
  height: 25px;
  width: 25px;
}

.btnNextElement{
  flex: 1 1;
  height: 100%;
  width: 50%;
  align-self: center;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 15px;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: .5px;
  background-repeat: no-repeat;
  background-size: 10px;
  cursor: pointer;
  color: white;
  background-color: #1c1f26;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

.nextBtn{
  background-position: calc(100% - 7px) 50%;
  background-image: url(../images/next-wh.28361db9.svg);
}

.lastBtn{
  background-position: 7px;
  background-image: url(../images/prev-wh.5784d350.svg);
  border-right: 1px solid hsla(0,0%,44.7%,.35);

}

.rowsHeader{
  height: 50px;
  display: flex;
}

.image-modal{
  position: relative;
  height: 100%;
  width: 100%;
}

.wikipedia{
  position: absolute;
  display:flex;
  height: 40px;
  width: 40px;
  margin-top: -260px;
  margin-left: 450px;
}

.pt-legend{
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 12px;
  margin-left: 180px;
  z-index: 1;
}

.pt-legend-item{
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px;
}

.pt-legend-color{
  width: 25px;
  height: 15px;
  border-radius: 5px;
  align-self: center;
}

.pt-legend-name{
  font-size: 10px;
  letter-spacing: 1px;
  padding-left: 10px;
  text-transform: uppercase;
  align-self: center;
  white-space: nowrap;
  font-weight: bold;
}

.noble-gas{
  background-color: #8edeff;
}
.alkali-earth-metal{
  background-color: rgba(0, 128, 128, 0.6);
}
.non-diatomic-metal{
  background-color:#fb8dff;
}
.alkali-metal{
  background-color: #ffc78e;
}
.transition-metal{
  background-color: #dffb51;
}
.postran-metal{
  background-color: #fffa8a;
}
.non-poli-metal{
  background-color: #ab8fff;
}
.actinide{
  background-color: #ff9d00;
}
.lantanide{
  background-color: #ff000094;
}
.metalloid{
  background-color: #8fff9b;
}