#countdown{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 80px;
  }
  
#h2
{
color: #def608;
font-family: 'Times New Roman', Times, serif;
font-style: italic;
margin-left: 50px;
}

.div
{
background-color: #28b9ab;
    border: solid;
    border-radius: 20px;
    width: 500px;
    margin: 10px;
    margin-left: 60px;
}
#h6
{
font-size: 30px;
font-family: 'Times New Roman', Times, serif;
font-style: italic;
color: aliceblue;
margin-left: 190px;

}

#colum1
{
   display:none
  
}


#contenedor{
  background: rgba(2, 65, 2, 0.082);
  padding: 5px;
  overflow: hidden;
  width: 75%;
  margin: 0 auto;
}

#colum1{
  background-color: #02ac9b;
    border: solid;
    border-radius: 20px;
   
    position: 500px;
    margin: 10px;
    margin-right: 60px;
    float:right;
    padding: 10px;
    width: 30%;
    
  
  }

  #colum2{

    background-color: #02ac9b;
    border: solid;
    border-radius: 20px;
    
    margin: 10px;
    margin-left: 20px;
    float:left;
    padding: 10px;
    width: 40%;
    
    
    }

    .textresultado
    {
      font-size: 30px;
      font-family: 'Times New Roman', Times, serif;

      
    }


    .luz.on{
      color: #ff0800;/*color del texto al cambiar*/
      text-shadow:
         1px  1px rgba(255, 255, 255, .1),
        -1px -1px rgba(0, 0, 0, .88),
         0px  0px 20px #fbff00;/*color de la luz del texto*/
    }
    .luz{
      font-size:30px;/*tamaño de la fuente*/
      color: #000000;
      text-shadow:
         1px  1px rgba(255, 255, 255, .1),
        -1px -1px rgba(0, 0, 0, .88);
    }
    #h1
    {
      color: hsl(59, 84%, 64%);
font-family: 'Times New Roman', Times, serif;
font-style: italic;
margin-left: 50px;
    }

    .button {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;	
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color:#4db6ac;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
     
    }
    
    .button:hover {background-color: #026157}
    
    .button:active {
      background-color: #02ac9b;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }

    
  





