$primary: #362EC4;
$secondary: #8F5325;
$success: #4DB6AC;
$info: #7854E4;
$warning: #FFC107;
$danger: #DC3545;
$light: #F8F9FA;
$dark: #212529;
$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    light: $light,
    dark: $dark
);

@import '~bootstrap/scss/bootstrap.scss';
